body {
    text-align: center;
    background: linear-gradient(266deg, #38003c, #570052);
    overflow-x: hidden;
}

html{
}

:root{
    --emojiWidth: 30px;
    --w: 100vw; /* Dinamik genişlik */
    --h: 50vh;  /* Dinamik yükseklik */
}


.background {
    width: 100vw;
    height: 15lh;
    background: url('../images/back-ground3.png') center/cover no-repeat;
    filter: brightness(1);
    z-index: -1;
}
.background2 {
    position: absolute;
    width: 120vw;
    height: 120vh;
    background: url('https://media.discordapp.net/attachments/1349074603858726974/1349745438152065107/2024-10-17_21.54.09.png?ex=67d437e5&is=67d2e665&hm=7343023bb9b6d7e62d6da9257cb54a0f587c44c3bc00ed018c6cafc5399a91be&=&format=webp&quality=lossless&width=1401&height=788') center/cover no-repeat;
    opacity: 0.7;
    background-color: rgb(37, 37, 37);
}

.hero-mask {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}


/* For Webkit browsers */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background: #780278;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #6b1e60;
    border-radius: 10px;
    border: 3px solid #8d00a0;
}

/* Resimler */

header{
    height: auto;
    background: linear-gradient(135deg, #530348, #2d0146);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.551);
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    padding: 15px 25px;
    width: 100%;
}

header .left{
    text-align: left;
    display: flex;
    align-items: center;
}

header .left img{
    cursor: pointer;
    height: auto;
    width: 8vh;
    transition: width 0.2s;
}
header .left img:hover{
    height: auto;
    width: calc(8vh + 2px);
}

header img{
    justify-content: center;
    width: 25vh;
    transition: width 0.5s;
}
header img:hover{
    width: 25.2vh;
}

.menuBar{
    font-family: 'MinecraftTR', sans-serif;
    position: absolute;
    display: block;
    top: 0;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(135deg, #53034800, #2d014600);
    z-index: -2;
    transition: background-color 1s;
}
.menuBar.on{
    z-index: 99;
    background: linear-gradient(135deg, #530348af, #2d0146a9) !important;
}

.menuS{
    display: flex;
    width:fit-content;
    height: 100vh;
    background: linear-gradient(135deg, #530348, #2d0146);
    
    flex-direction: column;
    align-items: flex-start;
    padding: 10px 20px;
    overflow: hidden;
    position: fixed;
    top: 0;
    transform: translateX(-240px);
    transition: transform 0.5s;
    z-index: -991;
}
.menuS.on{
    transform: translateX(0px) !important;
}

.menuS #iconB{
    cursor: pointer;
    width: 10vh;
}

.menuS img{
    width: var(--emojiWidth);
}
.aStyle a{
    margin-left: 10px;
    text-transform: uppercase;
    text-decoration: none;
    color: #d7d7d7ad;
    position: relative;
    padding: 4px 0;
    transition: color 0.2s;
}
.aStyle a:hover{
    color: #fff;
}
.aStyle a::before{
  content: "";
  width: 100%;
  height: 4px;
  position: absolute;
  left: 0;
  bottom: 0;
  background: #fff;
  transition: 0.5s transform ease;
  transform: scale3d(0,1,1);
  transform-origin: 0 50%;
}
.aStyle a:hover::before{
  transform: scale3d(1,1,1);
}
.aStyle a::before{
  transform-origin: 50% 50%;
  background: #941385;
}

/*
a {
    text-decoration: none;
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    border-radius: 5px;
    transition: background-color 0.3s;
}

a:hover {
    background-color: #218838;
} */

a{
    color: #166fff;
    text-decoration: none;
}

/* Ana div */
#AnaDiv {
    background: linear-gradient(135deg, #3e034000, #37023500);
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
    color: whitesmoke;
    font-family: 'MinecraftTR', sans-serif;
}

/* Merkezdeki içerik */
#center {
    margin: 0px;
    width: 100%;
}

/* Büyük texture resmi */
#szmPackImg {
    border: 5px solid #2f1838;
    box-shadow: 5px 8px 8px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    transition: width 0.5s;
}

#szmPackImg:hover {
    width: 73%;
}

/* Üst kısım */
#AnaDiv #top {
    background-color: #59044b;
}

/* İndirme alanı */
#downloadDiv {
    margin-top: 20px;
    padding: 20px;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.2);
}

#downloadTop {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}

/* Kalite ve Performans butonları */
#Quality,
#Performance{
    width : 100%;
}

#Quality a,
#Performance a {
    font-weight: bold;
    display: inline-block;
    padding: 10px 20px;
    border-radius: 8px;
    background: linear-gradient(135deg, #056eb8, #07721c); /* Koyu mor-pembe geçiş */
    color: white;
    text-shadow: 2px 3px 1px rgba(0, 0, 0, 0.448) !important;
    transition: background-color 0.3s, transform 0.2s, background-size 1s ease-in-out;
}

#Quality a:hover,
#Performance a:hover {
    background: linear-gradient(135deg, #05b829, #077072); /* Koyu mor-pembe geçiş */
    transform: scale(1.02);
}

/* Tablo tasarımı *//* Tablo Genel Stili */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background: rgba(255, 255, 255, 0.1); /* Hafif saydam arka plan */
    border-radius: 10px; /* Köşeleri yuvarla */
    display: block;
    overflow-y: hidden; /* Taşmaları önle */
    overflow-x: scroll; /* Taşmaları önle */
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.3); /* Hafif gölge efekti */
}

/* Tablo Başlık Stili */
th {
    width: 50%;
    background: linear-gradient(135deg, #3a0d5a, #6b1e60); /* Koyu mor-pembe geçiş */
    color: #fff;
    padding: 12px;
    font-size: 16px;
    text-align: left;
}

.solTd{
    background: linear-gradient(135deg, #25063b, #720762); /* Koyu mor-pembe geçiş */
    color: #fff;
    padding: 12px;
    font-size: 16px;
    text-align: left;
}

/* Tablo Hücreleri */
td {
    text-shadow: 2px 2px 1px rgb(0, 0, 0);
    padding: 10px;
    color: #fff;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2); /* İnce alt çizgi */
    background: linear-gradient(135deg, #4b037e, #bd37a9); /* Koyu mor-pembe geçiş */
}



/* Sol Tarafta Duvar Çizgisi */
td:first-child, th:first-child {
    width: auto;
    border-left: 4px solid #ff007f; /* Sol tarafa parlak çizgi */
    padding-left: 15px;
}

/* Alternatif Satır Renkleri */
tr:nth-child(even) {
    background: rgba(255, 255, 255, 0.05);
}

/* Hover Efekti */
tr:hover {
    background: rgba(255, 255, 255, 0.2);
    transition: 0.3s;
}


.R{
    color: #bd0f0f;
}

.G{
    color: #0fbd29;
}


* {box-sizing: border-box}
.mySlides {
    display: none;
    background-color: transparent;
    overflow: hidden;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    border-radius: 20px;
    box-shadow: 6px 10px 5px rgba(0, 0, 0, 0.3);
}
.mySlides img {
    vertical-align: middle;
    border-radius: 20px;
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
  text-align: left;
  background-color: transparent;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 6px 6px 0;
  user-select: none;
  background-color: #2f183866;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 6px 0 0 6px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(52, 0, 52, 0.69);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #383838;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fadee {
  animation-name: fade;
  animation-duration: 0.2s;
  opacity: 1;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}

#PngOutDoor{
    padding: 0px 20px 0px 20px;
    text-shadow: 2px 5px 1px rgb(0, 0, 0);
}

#TextureOzellik {
    text-align: left;
    color: #f4f4f4;
    padding: 15px;
    background-color: #00000088;
    position: relative; /* Gerekli olabilir */
    display: block; /* Eğer çalışmıyorsa */
}

#TextureAciklama{
    text-align: left;
    line-height: 25px;
    color: #f4f4f4;
    padding: 15px;
    background-color: #00000088;
    position: relative; /* Gerekli olabilir */
    display: block; /* Eğer çalışmıyorsa */
}

#ImgDiv{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-count: 3;
}


/* Responsive (Mobil) */
@media screen and (max-width: 769px) {
    #center {
        margin: 0px;
    }

    #downloadTop {
        flex-direction: row;
        gap: 10px;
    }

    #Quality a,
    #Performance a {
        display: block;
        text-align: center;
    }
}

/* Responsive (Mobil) */
@media screen and (max-width: 970px) {
    .mySlides img {
        height: calc(100vw * 0.5625); /* 16:9 aspect ratio */
    }
}

/* Responsive (Mobil) */
@media screen and (min-width: 970px) {
    #center {
        margin: 0px;
        width: auto;
        display: flex;
    }
    .slideshow-container {
        display: flex;
        flex-direction: column;
        width: 100%; /* Ekran genişliğini baz al */
        position: relative;
        margin: 0;
        margin-bottom: auto;
        overflow: hidden;
    }
    
    .mySlides {
        display: none;
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
    }
    
    .mySlides img {
        max-width: 100%;
        max-height: 100%;
        width: auto;
        height: auto;
        object-fit: contain; /* Fotoğrafı çerçeveye göre sığdır */
    }
    
}

@media screen and (max-width: 510px) {
    /* Tablo Başlık Stili */
    th {
        font-size: 12px;
    }

    td{
        font-size: 12px;
    }
    
    .solTd{
        font-size: 10px;
    }
    .prev, .next {
      font-size: 12px;
    }
    .text {
      font-size: 10px;
    }
    .numbertext {
      font-size: 8px;
    }

    h1{
        font-size: 24px  !important;
    }
}











/* Resim kaydırmaca */

* {box-sizing: border-box;}

.img-comp-container {
  position: relative;
  height: 200px; /*should be the same height as the images*/
  border-radius: 20px;
  overflow: hidden;
  border: 3px solid purple;
}

.img-comp-img {
    position: absolute;
    width: auto;
    height: auto;
    overflow: hidden;
}

.img-comp-imgUst {
    border-radius: 20px;
    box-shadow: 5px 6px 8px rgba(0, 0, 0, 0.3);
}

.img-comp-img img {
  display:block;
  border-radius: 20px;
}

.img-comp-slider {
  position: absolute;
  z-index:9;
  cursor: ew-resize;
  /*set the appearance of the slider:*/
  width: 3px;
  height: 100%;
  background-color: #d1d1d1;
  opacity: 1;
  justify-self: center;
  align-self: center;
}













.Yatay-Ortala{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Yatay{
    width: 350px;
}


@media screen and (max-width: 730px) {
    
}

.menuButtons{
    width: fit-content;
}
@media screen and (max-width: 1000px) {
    .menuButtons{
        display: none;
    }
}

@media screen and (max-width: 670px) {
    /* Tablo Başlık Stili */
    th {
        font-size: 12px;
        padding: 5px 5px;
        line-height: 20px;
    }
    th img{
        width: 25px;
    }
    
    /* Tablo Hücreleri */
    td {
        padding: 8px 5px;
        font-size: 12px;
    }
    
    .solTd{
        font-size: 10px;
        padding: 8px 5px;
    }
    .prev, .next {
      font-size: 12px;
    }
    .text {
      font-size: 10px;
    }
    .numbertext {
      font-size: 8px;
    }

    h1{
        font-size: 24px  !important;
    }
}